.word {
  width: 90vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 550px) {
  .word {
    flex-direction: column;
    align-items: center;
  }
}