.add-word {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 30px 0 30px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 460px) {
    .add-word {
      padding-top: 60px;
    }
  } 
