.add-word__button {
  font-family: var(--light-font);
  font-size: 20px;
  margin-top: 30px;
  background-color: rgb(var(--dark-grey));
  border: none;
  border-radius: 5px;
  height: 40px;
}

.add-word__button:hover {
  background-color: rgb(var(--red));
}

@media screen and (min-width: 1450px) {
  .add-word__button  {
    height: 50px;
  }
} 