.auth__button {
  font-family: var(--light-font);
  font-size: 20px;
  height: 40px;
  background-color:rgb(var(--dark-grey));
  border: none;
  margin-top: 20px;
}

.auth__button:hover {
  background-color:rgb(var(--red));
  cursor: pointer;
}